*{
	font-family: 'Roboto';
	flex-grow: 1;
}

.box{
	display:flex;
	align-items:center;
	flex-direction:column;
	align-items:center;
	margin-left: 8%;
	margin-right: 8%;
	border:2px solid black;
	width:84%;
}
.box0{
	display:flex;
	align-items:center;
	flex-direction:column;
	align-items:center;
	margin-left: 8%;
	margin-right: 8%;
	width:84%;
}
.box2{
	display:flex;
	align-items:center;
	flex-direction:row;
	align-items:center;
	width:100%;
}
.line{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	flex-wrap:wrap;
	display:flex;
	align-items:stretch;
	justify-content: space-between;
	flex-direction:row;
	width:99%;
}
.line2{
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-bottom: 5px;
	margin-top: 5px;
	display:flex;
	justify-content: space-between;
	width:99%;
}
.margin{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
.com{
	display:flex;
	align-items:center;
	flex-direction:column;
	width:100%;
	border-bottom:2px solid lightgrey;
}
.formList{
	display:flex;
	align-content: center;
	flex-wrap:wrap;
	flex-direction:row;
	width:100%;
	border-bottom:2px solid lightgrey;
}
.TaskOff{
text-decoration: line-through
}
.visiblefalse{
	visibility: collapse;
}
.spanClass{
	align-content: center;
}
.checkboxStyle{
	display:flex;
	width:100%;
align-items:center;
	align-content: center;
}
.checkboxStyle2{
	left: 25px;
align-items:center;
	align-content: center;
}

