*{
	font-size:21px;
	flex-grow:1;
}
h1{
	font-size:42px
}

.box{
	display:flex;
	align-items:center;
	flex-direction:column;
	align-items:center;
	margin-left: 12.5%;
	border:2px solid black;
	width:75%;
}
.box2{
	display:flex;
	align-items:center;
	flex-direction:column;
	align-items:center;
	border:1px solid black;
	width:1000%;
}
.line{
	flex-wrap:wrap;
	display:flex;
	align-items:center;
	flex-direction:row;
	width:100%;
	font-size: 21px;
	height: 30px;
}

.line2{
	flex-wrap:wrap;
	display:flex;
	align-items:center;
	flex-direction:row;
	font-size: 23px;
	font-weight: bold;
	width:100%;
}

.com{
	display:flex;
	align-items:center;
	flex-direction:column;
	width:100%;
	border-bottom:2px solid lightgrey;
}
.formList{
	display:flex;
	align-content: center;
	flex-wrap:wrap;
	flex-direction:row;
	width:100%;
	border-bottom:2px solid lightgrey;
}
.TaskOff{
text-decoration: line-through
}
.visiblefalse{
	visibility: collapse;
}